---
layout: layout.njk
---
<main class="columns is-multiline box has-background-white">
  <div class="column is-12 has-text-centered">
    <p class="is-size-1">
      Waterford, Ireland
    </p>
    <p class="is-size-3">
      Todays Weather Summary
    </p>
  </div>
  <div class="column is-4 is-offset-4">
    <section class="card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Today</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-12 has-text-centered">
    <p class="is-size-2">
      Hourly breakdown
    </p>
  </div>
  {% include "hourly_table.njk" %}
  <div class="column is-12 has-text-centered">
    <p class="is-size-3">
      The following 6 days.
    </p>
  </div>
  <!---->
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Tuesday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Wednesday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Thursday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Friday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Saturday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
  <div class="column is-2">
    <section class="card six-day-card">
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">Sunday</p>
      </header>
      <article class="card-content px-1">
        <div class="has-text-centered">
          <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
        </div>
        
        <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
            15°C</span></p>
        <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
        </p>
        <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
        <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
        <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
      </article>
      <footer class="card-footer">
      </footer>
    </section>
  </div>
</main>