---
layout: layout.njk
---
<main class="columns is-multiline box has-background-white px-0">
  <div id="cityPageToday" class="column is-12">

  </div>
  <div class="column is-8 is-offset-2 ml-4 mr-4 has-text-centered"> 
    <p class="is-size-3 has-text-centered">
      Today's hourly breakdown
    </p>
    <div class="table-container">
      <table class="table has-text-centered"> 
        <tbody id="hourlyTable">
        </tbody> 
      </table> 
    </div> 
</div>
  <div class="column is-10 is-offset-1">
    <p class="is-size-3 has-text-centered">
      The following 6 days.
    </p>
    <div id="cityPageFollowingDays" class="column is-12 columns is-multiline has-background-white">

    </div>
    <div class="column is-8 is-offset-2 ml-4 mr-4 has-text-centered"> 
      <div class="table-container">
        <table class="table has-text-centered"> 
          <tbody id="otherDayHourlyData">
          </tbody> 
        </table> 
      </div> 
  </div>
  </div>
</main>