---
layout: layout.njk
---
<main id="favoutiteCities" class="columns is-multiline box has-background-white px-0">
  <div class="column is-12 has-text-centered">
      <p class="is-size-1">
          Your Favourite Cities
      </p>
  </div>
</main>