---
layout: layout.njk
---
<main class="columns is-multiline box has-background-white" >
    <div class="column is-12 has-text-centered">
        <p class="is-size-1">
            Today's Global Weather
        </p>
        <p class="is-size-3">
            A selection of today's global weather
        </p>
    </div>
    <div id="waterford" class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p id="weatherCode" class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H <span id="dailyHighTemp"></span>°C / L
                <span id="dailyLowTemp"></span>°C</span></p>
            <p class="is-size-7">Chance of Rain: <span id="dailyRainChance" class="is-pulled-right"> %</span>
            </p>
            <p class="is-size-7">Wind: <span id="dailyWindSpeedMax" class="is-pulled-right">km/h</span></p>
            <p class="is-size-7">Sunrise: <span id="dailySunrise" class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span id="dailySunset" class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
      <div class="column is-3">
        <section class="card">
          <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">Waterford</p>
          </header>
          <article class="card-content px-1">
            <div class="has-text-centered">
              <p class="is-size-6 mb-2 is-centered">Mostly Dry with sunndy spells</p>
            </div>
            
            <p class="is-size-7">Temp: <span class="is-pulled-right">H 20°C / L
                15°C</span></p>
            <p class="is-size-7">Humidity: <span class="is-pulled-right">78%</span>
            </p>
            <p class="is-size-7">Wind: <span class="is-pulled-right">12km/h</span></p>
            <p class="is-size-7">Sunrise: <span class="is-pulled-right">06:54</span></p>
            <p class="is-size-7">Sunset: <span class="is-pulled-right">21:34</span></p>
          </article>
          <footer class="card-footer">
          </footer>
        </section>
      </div>
</main>