---
layout: layout.njk
---
<main id="index" class="columns is-multiline box has-background-white px-0">
    <div class="column is-10 is-offset-1 has-text-centered">
        <p class="is-size-1">
            Today's Global Weather
        </p>
        <p class="is-size-3">
            A selection of today's global weather
        </p>
    </div>

</main>