---
layout: layout.njk
---
<main class="columns is-multiline box has-background-white">
    <div class="column is-12 has-text-centered">
        <p class="is-size-1">
            Today's Global Weather
        </p>
        <p class="is-size-3">
            A selection of today's global weather
        </p>
    </div>
    <div id="waterford" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="amsterdam" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="berlin" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="cork" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="new_york" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="paris" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="san_francisco" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="tromso" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
    <div id="copenhagen" class="column is-3">
        <section class="card">
            <header class="card-header">
                <p class="card-header-title is-size-4 is-centered city-name"></p>
            </header>
            <article class="card-content px-1">
                <div class="has-text-centered">
                    <p class="is-size-6 mb-2 is-centered weather-code">Mostly Dry with sunndy spells</p>
                </div>

                <p class="is-size-7">Temp: <span class="is-pulled-right">H <span class="daily-high-temp"></span>°C / L
                        <span class="daily-low-temp"></span>°C</span></p>
                <p class="is-size-7">Chance of Rain: <span class="is-pulled-right daily-rain-chance"></span>
                </p>
                <p class="is-size-7">Wind: <span class="daily-wind-speed-max is-pulled-right"></span></p>
                <p class="is-size-7">Sunrise: <span class="daily-sunrise is-pulled-right"></span></p>
                <p class="is-size-7">Sunset: <span class="daily-sunset is-pulled-right"></span></p>
            </article>
            <footer class="card-footer">
            </footer>
        </section>
    </div>
</main>