---
layout: layout.njk
---
<main class="columns is-multiline box has-background-white">
  <div class="column is-12 has-text-centered">
    <p class="is-size-1">
        Preferences
    </p>
    <p class="is-size-3">
      Set your preferences below
    </p>
</div>
<div class="column is-4 is-offset-1">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">Select Hourly Weather Preferences</p>
    </header>
    <article>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="temperature"/>
          Temperature
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="feels_like"/>
          Feels Like
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="rain"/>
          Rain
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="chance_of_rain"/>
          Chance of Rain
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="humidity"/>
          Humidity
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="wind_speed"/>
          Wind Speed
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="hourlyPreferencesCheckbox" type="checkbox" value="wind_gust"/>
          Wind Gusts
        </label>
      </div>
      
      
    </article>
    <footer class="card-footer">
    </footer>
  </section>
</div>
<div class="column is-4 is-offset-2">
  <section class="card has-text-centered">
    <header class="card-header">
      <p class="card-header-title is-size-4 is-centered">Select Favourite Cities</p>
    </header>
    <article>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="copenhagen" />
          Copenhagen
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="san_francisco" />
          San Francisco
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="tromso" />
          Tromso
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="cork" />
          Cork
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="amsterdam" />
          Amsterdam
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="waterford"/>
          Waterford
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="berlin"/>
          Berlin
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="paris"/>
          Paris
        </label>
      </div>
      <div class="field">
        <label class="checkbox">
          <input id="favoutiteCitiesCheckbox" type="checkbox" value="new_york" />
          New York
        </label>
      </div>
    </article>
    <footer class="card-footer">
    </footer>
  </section>
</div>
</main>