<!--https://www.geeksforgeeks.org/bulma-table-container/-->
<div class="column is-10 is-offset-1 ml-4 mr-4 has-text-centered"> 
    <div class="table-container"> 
      <table class="table has-text-centered"> 
        <tbody>
          <tr> 
            <th class="tg-0lax">Time</th> 
            <td class="tg-0lax time">00:00</td> 
            <td class="tg-0lax time">01:00</td> 
            <td class="tg-0lax time">02:00</td>
            <td class="tg-0lax time">03:00</td>
            <td class="tg-0lax time">04:00</td>
            <td class="tg-0lax time">05:00</td>
            <td class="tg-0lax time">06:00</td>
            <td class="tg-0lax time">07:00</td>
            <td class="tg-0lax time">08:00</td>
            <td class="tg-0lax time">09:00</td>
            <td class="tg-0lax time">10:00</td>
            <td class="tg-0lax time">11:00</td>
            <td class="tg-0lax time">12:00</td>
            <td class="tg-0lax time">13:00</td>
            <td class="tg-0lax time">14:00</td>
            <td class="tg-0lax time">15:00</td>
            <td class="tg-0lax time">16:00</td>
            <td class="tg-0lax time">17:00</td>
            <td class="tg-0lax time">18:00</td>
            <td class="tg-0lax time">19:00</td>
            <td class="tg-0lax time">20:00</td>
            <td class="tg-0lax time">21:00</td>
            <td class="tg-0lax time">22:00</td>
            <td class="tg-0lax time">23:00</td>
          </tr> 
          <tr> 
            <th class="tg-0lax">Temp:</th>
            <td class="tg-0lax">a</td> 
            <td class="tg-0lax">b</td> 
            <td class="tg-0lax">c</td> 
            <td class="tg-0lax">d</td> 
            <td class="tg-0lax">e</td> 
            <td class="tg-0lax">f</td> 
            <td class="tg-0lax">g</td> 
            <td class="tg-0lax">h</td> 
            <td class="tg-0lax">i</td> 
            <td class="tg-0lax">j</td> 
            <td class="tg-0lax">k</td> 
            <td class="tg-0lax">l</td> 
            <td class="tg-0lax">m</td> 
            <td class="tg-0lax">n</td> 
            <td class="tg-0lax">o</td> 
            <td class="tg-0lax">p</td> 
            <td class="tg-0lax">q</td> 
            <td class="tg-0lax">r</td> 
            <td class="tg-0lax">s</td> 
            <td class="tg-0lax">t</td> 
            <td class="tg-0lax">u</td> 
            <td class="tg-0lax">v</td> 
            <td class="tg-0lax">w</td> 
            <td class="tg-0lax">x</td>
          </tr> 
          <tr> 
            <th class="tg-0lax">Feels like:</th>
            <td class="tg-0lax">a</td> 
            <td class="tg-0lax">b</td> 
            <td class="tg-0lax">c</td> 
            <td class="tg-0lax">d</td> 
            <td class="tg-0lax">e</td> 
            <td class="tg-0lax">f</td> 
            <td class="tg-0lax">g</td> 
            <td class="tg-0lax">h</td> 
            <td class="tg-0lax">i</td> 
            <td class="tg-0lax">j</td> 
            <td class="tg-0lax">k</td> 
            <td class="tg-0lax">l</td> 
            <td class="tg-0lax">m</td> 
            <td class="tg-0lax">n</td> 
            <td class="tg-0lax">o</td> 
            <td class="tg-0lax">p</td> 
            <td class="tg-0lax">q</td> 
            <td class="tg-0lax">r</td> 
            <td class="tg-0lax">s</td> 
            <td class="tg-0lax">t</td> 
            <td class="tg-0lax">u</td> 
            <td class="tg-0lax">v</td> 
            <td class="tg-0lax">w</td> 
            <td class="tg-0lax">x</td>
          </tr> 
          <tr> 
            <th class="tg-0lax">Rain:</th>
            <td class="tg-0lax">a</td> 
            <td class="tg-0lax">b</td> 
            <td class="tg-0lax">c</td> 
            <td class="tg-0lax">d</td> 
            <td class="tg-0lax">e</td> 
            <td class="tg-0lax">f</td> 
            <td class="tg-0lax">g</td> 
            <td class="tg-0lax">h</td> 
            <td class="tg-0lax">i</td> 
            <td class="tg-0lax">j</td> 
            <td class="tg-0lax">k</td> 
            <td class="tg-0lax">l</td> 
            <td class="tg-0lax">m</td> 
            <td class="tg-0lax">n</td> 
            <td class="tg-0lax">o</td> 
            <td class="tg-0lax">p</td> 
            <td class="tg-0lax">q</td> 
            <td class="tg-0lax">r</td> 
            <td class="tg-0lax">s</td> 
            <td class="tg-0lax">t</td> 
            <td class="tg-0lax">u</td> 
            <td class="tg-0lax">v</td> 
            <td class="tg-0lax">w</td> 
            <td class="tg-0lax">x</td>
          </tr> 
          <tr> 
            <th class="tg-0lax">Chance of Rain:</th>
            <td class="tg-0lax">a</td> 
            <td class="tg-0lax">b</td> 
            <td class="tg-0lax">c</td> 
            <td class="tg-0lax">d</td> 
            <td class="tg-0lax">e</td> 
            <td class="tg-0lax">f</td> 
            <td class="tg-0lax">g</td> 
            <td class="tg-0lax">h</td> 
            <td class="tg-0lax">i</td> 
            <td class="tg-0lax">j</td> 
            <td class="tg-0lax">k</td> 
            <td class="tg-0lax">l</td> 
            <td class="tg-0lax">m</td> 
            <td class="tg-0lax">n</td> 
            <td class="tg-0lax">o</td> 
            <td class="tg-0lax">p</td> 
            <td class="tg-0lax">q</td> 
            <td class="tg-0lax">r</td> 
            <td class="tg-0lax">s</td> 
            <td class="tg-0lax">t</td> 
            <td class="tg-0lax">u</td> 
            <td class="tg-0lax">v</td> 
            <td class="tg-0lax">w</td> 
            <td class="tg-0lax">x</td>
          </tr> 
          <tr> 
            <th class="tg-0lax">Humidity:</th>
            <td class="tg-0lax">a</td> 
            <td class="tg-0lax">b</td> 
            <td class="tg-0lax">c</td> 
            <td class="tg-0lax">d</td> 
            <td class="tg-0lax">e</td> 
            <td class="tg-0lax">f</td> 
            <td class="tg-0lax">g</td> 
            <td class="tg-0lax">h</td> 
            <td class="tg-0lax">i</td> 
            <td class="tg-0lax">j</td> 
            <td class="tg-0lax">k</td> 
            <td class="tg-0lax">l</td> 
            <td class="tg-0lax">m</td> 
            <td class="tg-0lax">n</td> 
            <td class="tg-0lax">o</td> 
            <td class="tg-0lax">p</td> 
            <td class="tg-0lax">q</td> 
            <td class="tg-0lax">r</td> 
            <td class="tg-0lax">s</td> 
            <td class="tg-0lax">t</td> 
            <td class="tg-0lax">u</td> 
            <td class="tg-0lax">v</td> 
            <td class="tg-0lax">w</td> 
            <td class="tg-0lax">x</td>
          </tr> 
        </tbody> 
      </table> 
    </div> 
</div>