<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whether Weather</title>
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/style.css">
        <!--Source for Bulma theme: https://jenil.github.io/bulmaswatch/cerulean/ -->
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/lux/bulmaswatch.min.css">
        <script src="https://kit.fontawesome.com/ab94d40537.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/bulma.js"></script>
        <script type="text/javascript" src="/js/data/weather_data.js"></script>
        <script type="text/javascript" src="/js//data/weather_codes.js"></script>
        <script type="text/javascript" src="/js//data/all_cities.js"></script>
        <script type="text/javascript" src="/js/weather_display.js" ></script>
        <script type="text/javascript" src="/js/components/city_daily_cards.js" ></script>
        <script type="text/javascript" src="/js/components/todays_city_daily_card.js"></script>
        <script type="text/javascript" src="/js/components/city_other_day_cards.js"></script>
        <script type="text/javascript" src="/js/components/hourly_table.js"></script>
        <script type="text/javascript" src="/js/other_day_hourly_data.js"></script>

    </head>
    <body>
        {% include "nav.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </body>
</html>